/* My Style */

/* Universal */
body {
    font-family: 'Montserrat', sans-serif;
}

/* ================================================= */

/*NAVBAR*/
.navbar {
    background-color: #FFF552;
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.5);
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(49, 49, 49, 0.5);
    color: #3E4654 !important;
}

.navbar-brand img {
    width: 30px;
    margin-right: 10px;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    color: #3E4654;
    margin-left: 40px;
    text-shadow: 1px 0px 1px rgba(49, 49, 49, 0.5);
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #3E4654;
    width: 50%;
    margin: auto;
    margin-bottom: -3px;
}

.navbar-nav a {
    color: #3E4654 !important;
}

.navbar-nav button {
    margin-left: 40px;
    border-radius: 30px;
    width: 120px;
    height: 35px;
}

/* ================================================= */

/* Carousel */
.carousel {
    margin-top: 63px;
}

/*font*/
.fontstyle {
    font-family: 'Montserrat', sans-serif !important;
    font-size: bold;
}

/* Isi Sekolah */
.sekolah {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF552;
    height: 300px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: 900;
}

.sekolah .jumlah span {
    display: inline-block;
    margin-top: 70px;
    border-bottom: 3px solid #3E4654;
    margin-bottom: 0px;
}

/* JURUSAN dan PRESTASI*/
.bg-beranda {
    background-color: #FFF552;
    margin-top: 100px;
    height: 300px;
}

.bg-beranda p {
    font-size: 25px;
    font-weight: bolder;
    border-left: 4px solid #3E4654;
    display: inline-block;
    margin-top: 30px;
    color: #3E4654;
}

.bg-beranda a {
    font-size: 20px;
    font-weight: 900;
    color: #3E4654;
    text-decoration: none;
}



/* ================================================= */
/* Footer Login */
.footer-login {
    box-shadow: 0px -5px 10px rgba(49, 49, 49, 0.5);
    font-weight: bolder;
    font-size: 15px;
    text-align: center !important;
    margin-top: 20px;
    padding-top: 15px;
    width: 100%;
    background-color: #FFF552;
    position: fixed;
    bottom: 0%;
}

/* Footer */
.footer {
    box-shadow: 0px -5px 10px rgba(49, 49, 49, 0.5);
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    margin-top: 200px;
    height: 200px;
    width: 100%;
    background-color: #FFF552;
}

/* SMK BISA */
.smkbisa img {
    width: 200px;
    margin-left: 60px;
    display: inline-block;
}

.smkbisa span {
    margin-left: 10px;
    position: absolute;
    top: 70px;
    border-left: 3px solid #3E4654;
}

/* Sosial Media & Copyright */
.sosmed li {
    display: inline-block;
    position: relative;
    bottom: 10px;
}

.sosmed ul {
    margin-left: -40px;
}


/* MAPS */
.maps iframe {
    margin-top: 30px;
    width: 200px;
}

.maps span {
    display: inline-block;
    position: relative;
    bottom: 40px;
    margin-left: 30px;
    border-left: 3px solid #3E4654;

}




/* ================================================= */

/* ==============  LOGIN PAGE  ============== */

/* Tambah Pengguna */
.sidebar {
    background-color: #3E4654;
    height: 800px;
    width: 200px;
    margin-left: auto;
    position: fixed;
    padding-top: 10px;
    margin-top: 20px;
    font-size: small;
    /* text-align: center; */
}

.sidebar p {
    margin-top: 30px;
    color: white;
    text-align: center;
}

.sidebar span {
    font-weight: bold;
}

.sidebar img {
    width: 100px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.sidebar a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.sidebar i {
    font-size: 15px;
    margin-right: 10px;
    color: white;
}


.sidebar .btn {
    width: 75px;
    height: 30px;
    padding-top: 2px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
}

.sidebar .aktif {
    color: #FFF552;
}

.sidebar a:hover {
    color: #FFF552;
    text-decoration: none;
}

/* Utility */
.tombol {
    border-radius: 15px;
    width: 80px;
    height: 30px;
    font-size: 12px;
}

.tombol-hitam {
    border-radius: 8px;
    width: 110px;
    height: 50px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: #3E4654;
}

.tombol-merah {
    color: white;
    background-color: red;
    border-radius: 8px;
    font-weight: bolder;
}

.tombol-edit {
    border-radius: 8px;
    width: 60px;
    height: 30px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: #3E4654;
}

.tombol-hapus {
    border-radius: 8px;
    width: 60px;
    height: 30px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: red;
}

/* Untuk Prestasi */
.bg-form {
    /* background-color: aqua;*/
    margin-top: 100px;
    margin-left: 50px;
    padding-left: 50px;
    color: #3E4654;
    font-size: 14px;
    font-weight: bolder;

}


/* Untuk Prestasi */
.bg-form span {
    display: inline-block;
    border-left: 6px solid #3E4654;
    text-align: left !important;
    left: 30px;
    position: relative;
}


.form-tambah-prestasi {
    height: 450px;
    width: 800px;
    border-radius: 3%;
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.5);
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.form-tambah-prestasi p {
    border-top: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 37px;
    font-size: smaller;

}

.form-tambah-prestasi input {
    position: relative !important;
    left: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 450px;
    margin: -10px;
}

.form-tambah-prestasi .tombol-buat {
    border-radius: 10px;
    background-color: #3E4654;
    color: white;
    position: relative;
    left: 250px;
    top: 35px;
    width: 120px;
    height: 35px;
    font-weight: bold;
}

/* Untuk Border kanan Prestasi */
.gariskanan {
    position: relative;
    border-left: #3E4654 1px solid;
}

/*Form Login*/
.judul-login p {
    font-size: 25px;
    font-weight: bolder;
    margin-top: -300px;
    display: inline-block;
    position: relative;
    bottom: 200px;
}


.form-loginup {
    height: 300px;
    width: 500px;
    border-radius: 3%;
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.5);
    font-size: 12px;
    margin-top: 120px;
    top: 50px;
    position: absolute;
    margin-left: 50px;
}

.form-loginup p {
    padding-top: 28px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 900;
}

.form-loginup span {
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
    margin-top: -70px;
    margin-left: 130px;
}

.form-loginup input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
}

.button-view {
    display: inline-block;
    border-radius: 10px !important;
    color: white;
    top: 30px !important;
    margin: 10px;
    position: absolute !important;
    inline-size: 10px;
    height: 35px !important;
    width: 120px !important;
    left: 180px !important;
    background-color: #3E4654 !important;
    font-weight: bolder;
    font-size: 15px;
}

.masuksitus {
    /* background-color: aqua*/
    margin-top: 120px;
    margin-left: 50px;
    color: #3E4654;
    font-size: 35px;
    font-weight: bolder;
}

/*Form Kata Sandi*/
.form-gantipass {

    height: 360px;
    width: 500px;
    border-radius: 3%;
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.5);
    font-size: 12px;
    position: absolute;
    margin-left: 100px;
}

.form-gantipass p {
    padding-top: 30px;
    left: 90px !important;
    font-size: 14px;
    font-weight: 900;
    margin-left: 50px !important;
}

.form-gantipass input {
    position: relative !important;
    left: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
}

.bg-formpass span {
    display: inline-block;
    border-left: 6px solid #3E4654;
    text-align: left !important;
    left: 30px;
    position: relative;
}

.button-password {
    display: inline-block;
    border-radius: 10px !important;
    color: white;
    top: 30px !important;
    margin: 10px;
    position: absolute !important;
    inline-size: 10px;
    height: 35px !important;
    width: 120px !important;
    left: 140px !important;
    background-color: #3E4654 !important;
    font-weight: bolder;
    font-size: 15px;
}

/* ATUR BG LOGIN */
.bg-login {
    margin-top: 30px;
    width: 100%;
    height: 620px;
    z-index: -1;
}


/* ======== ADMIN PAGE ======== */

/* BERANDA */
.admin-beranda {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-beranda h1 {
    border-left: 3px solid #3E4654;
}

.admin-beranda p {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.admin-beranda img {
    width: 150px;
    margin-left: 420px;
    border: 3px solid #3E4654;
    border-radius: 50%;
}

/* UBAH FOTO PROFIL */
.admin-ubah-foto {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-ubah-foto h1 {
    border-left: 3px solid #3E4654;
}

.admin-ubah-foto img {
    width: 150px;
    margin-left: 180px;
    margin-top: 20px;
    border: 3px solid #3E4654;
    border-radius: 50%;
}

.admin-ubah-foto button {
    margin-left: 200px;
    margin-top: 20px;
}

/* WADAH FORM ADMIN */
.form-ubah-foto {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 500px;
    height: 100px;
}

.form-ubah-foto input {
    margin-left: 150px;
    margin-top: 10px;
}

/* UBAH KATA SANDI */

.admin-ubah-kata-sandi {
    margin-top: 300px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-ubah-kata-sandi h1 {
    border-left: 3px solid #3E4654;
}

.admin-ubah-kata-sandi input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.admin-ubah-kata-sandi p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 20px;
    margin-bottom: 1px;
}

.admin-ubah-kata-sandi button {
    margin-top: 20px;
    margin-left: 180px;
}

/* WADAH FORM ADMIN */
.form-ubah-kata-sandi {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 500px;
    height: 300px;
}


/* ADMIN - TAMBAH PENGGUNA */

.admin-tambah-pengguna {
    margin-top: 60px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-tambah-pengguna h1 {
    border-left: 3px solid #3E4654;
}

.admin-tambah-pengguna input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.admin-tambah-pengguna select {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    margin-top: 10px;
    width: 400px;
    /* margin-bottom: -50px; */
}

.admin-tambah-pengguna p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 13px;
    margin-bottom: -8px;
}

.admin-tambah-pengguna button {
    margin-top: 10px;
    margin-left: 180px;
}

/* WADAH FORM ADMIN */
.form-tambah-pengguna {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 500px;
    height: 350px;
}

/* ADMIN UBAH BIODATA */

.admin-ubah-biodata {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-ubah-biodata h1 {
    border-left: 3px solid #3E4654;
}

.admin-ubah-biodata input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.admin-ubah-biodata p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 13px;
    margin-bottom: -8px;
}

.admin-ubah-biodata button {
    margin-top: 20px;
    margin-left: 180px;
}

/* WADAH FORM ADMIN */
.form-ubah-biodata {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 500px;
    height: 350px;
}


/* DAFTAR PENGGUNA */

.admin-daftar-pengguna {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-daftar-pengguna h1 {
    border-left: 3px solid #3E4654;
}

.admin-daftar-pengguna input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.admin-daftar-pengguna p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 13px;
    margin-bottom: -8px;
}

.admin-daftar-pengguna a:hover {
    color: rgb(240, 232, 232);
}

/* WADAH FORM ADMIN */
.form-daftar-pengguna {
    /* background-color: #FFF552; */
    border-radius: 15px;
}

.form-daftar-pengguna button {
    margin: auto;
}


/* DAFTAR PRESTASI */
.admin-daftar-prestasi {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.admin-daftar-prestasi h1 {
    border-left: 3px solid #3E4654;
}

.admin-daftar-prestasi input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.admin-daftar-prestasi p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 13px;
    margin-bottom: -8px;
}

.admin-daftar-prestasi button {
    margin-top: 20px;
    margin-left: 180px;
    font-size: 10px;
    height: 20px;
    width: 50px;
}

/* WADAH FORM ADMIN */
.form-daftar-prestasi {
    background-color: #FFF552;
    border-radius: 15px;
}

.form-daftar-prestasi button {
    margin: auto;
}

/* PENGGUNA PAGE */

/* BERANDA */
.pengguna-beranda {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.pengguna-beranda h1 {
    border-left: 3px solid #3E4654;
}

.pengguna-beranda p {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.pengguna-beranda img {
    width: 150px;
    margin-left: 420px;
    border: 3px solid #3E4654;
    border-radius: 50%;
}

/* UBAH FOTO PROFIL */
.pengguna-ubah-foto {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.pengguna-ubah-foto h1 {
    border-left: 3px solid #3E4654;
}

.pengguna-ubah-foto img {
    margin-top: 10px;
    margin-left: 170px;
    width: 150px;
}

.pengguna-ubah-foto img {
    width: 150px;
    margin-left: 180px;
    margin-top: 30px;
    border: 3px solid #3E4654;
    border-radius: 50%;
}

.pengguna-ubah-foto button {
    margin-left: 200px;
    margin-top: 20px;
}

/* WADAH FORM PENGGUNA */
.form-ubah-foto {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 500px;
    height: 300px;
}

/* UBAH KATA SANDI */
.pengguna-ubah-kata-sandi {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.pengguna-ubah-kata-sandi h1 {
    border-left: 3px solid #3E4654;
}

.pengguna-ubah-kata-sandi input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.pengguna-ubah-kata-sandi p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 20px;
    margin-bottom: 1px;
}

.pengguna-ubah-kata-sandi button {
    margin-top: 20px;
    margin-left: 180px;
}

/* WADAH FORM ADMIN */
.form-ubah-kata-sandi {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 500px;
    height: 300px;
}



/*  TAMBAH PRESTASI */
.pengguna-tambah-prestasi {
    margin-top: 60px;
    margin-left: 210px;
    font-weight: bolder;
}

.pengguna-tambah-prestasi h1 {
    border-left: 3px solid #3E4654;
}

.pengguna-tambah-prestasi input {
    position: relative !important;
    left: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 350px;
}

.pengguna-tambah-prestasi p {
    font-size: 10px;
    margin-left: 5px;
    padding-top: 10px;
    margin-bottom: 1px;
}

.unggah-sertifikat {
    /* background-color: aqua; */
    margin-top: 20px;
    border-left: 2px solid #3E4654;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.unggah-sertifikat label {
    text-align: left;
    margin-right: 20px;
}

.unggah-sertifikat p {
    font-size: 15px;
    text-align: left;
    margin-top: 30px;
    margin-right: 20px;
}

.unggah-sertifikat button {
    border-radius: 8px;
    width: 110px;
    height: 50px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: #3E4654;
    margin-top: 25px;
}

/* WADAH FORM TAMBAH PRESTASI*/
.form-tambah-prestasi {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 100px;
    height: 390px;
}

.form-tambah-prestasi {
    background-color: white;
    box-shadow: 5px 5px 10px #3E4654;
    border-radius: 15px;
    margin-right: 100px;
    height: 390px;
}


/* RIWAYAT PRESTASI */
.pengguna-riwayat-prestasi {
    margin-top: 100px;
    margin-left: 210px;
    font-weight: bolder;
}

.pengguna-riwayat-prestasi h1 {
    border-left: 3px solid #3E4654;
}

.pengguna-riwayat-prestasi input {
    position: relative !important;
    left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3E4654;
    outline: none;
    width: 400px;
    /* margin-bottom: -50px; */
}

.pengguna-riwayat-prestasi p {
    margin-left: 30px;
    /* margin-top: 15px; */
    padding-top: 13px;
    margin-bottom: -8px;
}

.pengguna-riwayat-prestasi button {
    margin-top: 20px;
    margin-left: 180px;
    font-size: 10px;
    height: 20px;
    width: 50px;
}

/* WADAH FORM RIWAYAT PRESTASI */
.form-riwayat-prestasi {
    background-color: #FFF552;
    border-radius: 15px;
}

.form-riwayat-prestasi button {
    margin: auto;
}

.button-login {
    display: inline-block;
    border-radius: 10px !important;
    color: white;
    top: 30px !important;
    margin-top: 200px;
    position: absolute !important;
    inline-size: 10px;
    height: 35px !important;
    width: 120px !important;
    left: 180px !important;
    background-color: #3E4654 !important;
    font-weight: bolder;
    font-size: 15px;
}
